@use '@scss/variables' as *;
@use '@scss/functions' as *;
@use '@scss/mixins' as *;

.toggle {
  @include color('white');
  @include bg(primary);
  @include fs('x-small');

  border-radius: $tag-corner-radius;
  border: none;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  height: 32px;
  vertical-align: middle;
  margin-left: 20px;
  transform: rotate(-180deg);
  transition: transform 150ms ease-in-out;

  [class~='expanded'] & {
    transform: rotate(0);
  }
}

.content {
  color: get-color('primary');
  @include bg(light);

  border-radius: $tag-corner-radius;
  padding: 25px 15px;
}
