@use '@scss/variables' as *;
@use '@scss/functions' as *;
@use '@scss/mixins' as *;

.tag {
  color: get-color('white');
  background-color: get-color('primary');
  border-radius: $tag-corner-radius;
  padding: 3.5px 22px;
  display: inline-block;
  white-space: nowrap;
  @include fs('xxx-small');

  @include breakpoint(desktop) {
    @include fs('xx-small');
  }
}
