@use '@scss/variables' as *;
@use '@scss/functions' as *;

.tag {
  font-size: get-font-size('small');
  font-weight: get-font-weight('medium');
  color: get-color('white');
  background-color: get-color('primary');
  border-radius: $tag-corner-radius;
  padding: 3.5px 22px;
}
