@use "variables" as *;

*,
::before,
::after {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

svg {
  fill: currentcolor;
}

@each $color-name, $color in $colors {
  .text-#{$color-name} {
    color: $color;
  }
  .bg-#{$color-name} {
    background-color: $color;
  }
}

@each $size-name, $size in $font-sizes {
  .fs-#{$size-name} {
    font-size: $size;
  }
}

@each $fw-name, $fw in $font-weights {
  .fw-#{$fw-name} {
    font-weight: $fw;
  }
}
