@use 'variables' as *;

*,
::before,
::after {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

#root {
  height: 100%;
}

main {
  position: relative;
}

svg {
  fill: currentcolor;
}

@each $color-name, $color in $colors {
  .text-#{$color-name} {
    color: $color !important;
  }
  .bg-#{$color-name} {
    background-color: $color !important;
  }
}

@each $size-name, $size in $font-sizes {
  .fs-#{$size-name} {
    font-size: $size !important;
  }
}

@each $fw-name, $fw in $font-weights {
  .fw-#{$fw-name} {
    font-weight: $fw !important;
  }
}

.d-flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center !important;
}

.list-unstyled {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

.no-decoration {
  text-decoration: none;
}

.h-100 {
  height: 100%;
}

.mh-100 {
  min-height: 100%;
}

.container {
  // Mobile rules.
  margin: 20px;

  // desktop rules.
  @media screen and (min-width: 800px) {
    margin: 40px 100px;
  }

  // Remove margin on the following containers.
  + .container {
    margin-top: 0;
  }
}
