@use 'sass:map';
@use 'variables' as *;

@mixin breakpoint($name) {
  @media screen and (min-width: map.get($breakpoints, $name)) {
    @content;
  }
}

@mixin fs($size) {
  font-size: map.get($font-sizes, $size);
}

@mixin fw($weight) {
  font-weight: map.get($font-weights, $weight);
}

@mixin color($color) {
  color: map.get($colors, $color);
}

@mixin bg($color) {
  background-color: map.get($colors, $color);
}