$logo-height: 68px;

$colors: (
  primary: #FF6060,
  light: #F6F6F6,
  dark: black,
  white: white,
  black: black,
  gray-1: #F6F6F6,
  gray-2: #E3E3E3,
  gray-3: #C4C4C4,
  gray-4: #666666,
  transparent: transparent,
);

$font-sizes: (
  jumbo: 28.8rem,
  large: 4.8rem,
  medium: 3.6rem,
);

$font-weights: (
  light: 400,
  medium: 500,
  bold: 700,
);
