$logo-height: 68px;
$logo-height-small: 47px;
$tag-corner-radius: 10px;
$star-height: 30px;
$star-height-small: 15px;
$colors: (
  'primary': #ff6060,
  'light': #f6f6f6,
  'dark': black,
  'white': white,
  'black': black,
  'gray-1': #f6f6f6,
  'gray-2': #e3e3e3,
  'gray-3': #c4c4c4,
  'gray-4': #666,
  'transparent': transparent,
);
$font-sizes: (
  'jumbo': 28.8rem,
  'jumbo-small': 9.6rem,
  'large': 4.8rem,
  'medium': 3.6rem,
  'small': 2.4rem,
  'x-small': 1.8rem,
  'xx-small': 1.4rem,
  'xxx-small': 1.2rem,
  'micro': 1rem,
);
$font-weights: (
  'light': 400,
  'medium': 500,
  'bold': 700,
);
$breakpoints: (
  'desktop': 800px,
);
