@use '@scss/variables' as *;
@use '@scss/functions' as *;
@use '@scss/mixins' as *;

.link {
  text-decoration: none;
  @include color(primary);

  border-bottom: 2px solid transparent;

  &[class~='active'] {
    border-color: get-color('primary');
  }
}
