@use '@scss/variables' as *;
@use '@scss/functions' as *;
@use '@scss/mixins' as *;

.star {
  @include color('gray-2');

  &[class~='small'] {
    height: $star-height-small;
  }

  height: $star-height-small;
  @include breakpoint(desktop) {
    height: $star-height;
  }

  &[class~='active'] {
    @include color(primary);
  }
}
