@use '@scss/variables' as *;
@use '@scss/functions' as *;
@use '@scss/mixins' as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1 0 600px;
}

.jumbo {
  line-height: 1;
  font-size: get-font-size('jumbo-small');

  @include breakpoint(desktop) {
    font-size: get-font-size('jumbo');
  }
}

.help-text {
  color: get-color('primary');
  margin-bottom: 150px;
  font-size: get-font-size('x-small');

  @include breakpoint(desktop) {
    font-size: get-font-size('medium');
  }
}

.link {
  font-size: get-font-size('xx-small');

  @include breakpoint(desktop) {
    font-size: get-font-size('x-small');
  }
}
