@use '@scss/variables' as *;
@use '@scss/functions' as *;

.header {
  color: get-color('primary');
  background-color: get-color('transparent');
  white-space: nowrap;
}

.logo {
  margin-right: 50px;
}

.menu :not(:first-child) {
  margin-left: 50px;
}
