@use '@scss/variables' as *;
@use '@scss/functions' as *;
@use '@scss/mixins' as *;

.header {
  white-space: nowrap;
}

.logo {
  height: $logo-height-small;
  @include breakpoint(desktop) {
    height: $logo-height;
  }
}

.menu a {
  margin-left: 25px;
  @include fs('xxx-small');
  @include breakpoint(desktop) {
    margin-left: 50px;
    @include fs('small');
  }
}
