@use '@scss/variables' as *;
@use '@scss/functions' as *;
@use '@scss/mixins' as *;

.container {
  display: block;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
}
